<ul>
  <li>
      <a ng-click="$ctrl.orderBy('dueDate')" href="" >Order By Due Date</a>
  </li>
  <li>
      <a ng-click="$ctrl.orderBy('name')" href="" >Order By Name</a>
  </li>
  <li>
      <a ng-click="$ctrl.orderBy('priority')" href="" >Order By Priority</a>
  </li>
</ul>

<table>
  <thead>
      <th>
        <td colspan="3">{{$ctrl.taskType}}</td>
      </th>
  </thead>
 
  <tbody>
        <tr>
            <td>Name</td>
            <td>Due Date</td>
            <td>Priority</td>
      </tr>    
      <tr ng-repeat="task in $ctrl.tasks">
          <td>{{task.name}}</td>
          <td>{{task.dueDate}}</td>
          <td>{{task.priority}}</td>
      </tr>
  </tbody>
</table>